[Unit]
Description=OpenVPN User Management API
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/openvpn/openvpn-install/api
Environment="API_KEY=changeme"
ExecStart=/usr/local/bin/gunicorn --workers 2 --bind 0.0.0.0:8000 --timeout 150 api:app
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
